html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.body {
    background-image: linear-gradient(to top right, rgb(153, 205, 212), rgba(255, 255, 255, 0.986));
    background-size: cover; 
    background-attachment: fixed; 
}

#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 10%;
    text-align: center;
    color: #000000; 
    font-family: Arial, sans-serif; 
    font-size: 4rem;
}

.tBill{
    margin-top: 70px;
    text-align: center;
    font-family: Arial, sans-serif; 
}
.tPerc
{
    text-align: center;
    font-family: Arial, sans-serif; 
}

.calc {
    margin-top: 50px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    outline: none;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 48px;


}

.calc:hover {
    background-color: #1db954;
}


.inputB {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 3px solid #555;
    padding: 5px;
    font-size: 16px;
}

.inputP {
    width: 20px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 3px solid #555;
    padding: 5px;
    font-size: 16px;
}

.tip {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3rem;    
    font-weight: bold;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
